
{:paths ["source-code/clj"]
 :deps  {bithandshake/cljc-fruits {:git/url "https://github.com/bithandshake/cljc-fruits"
                                   :sha     "9186c1ebf6f47cdad87eb870cf2abe29000d2046"}
         com.wsscode/pathom3      {:sha     "13e6dec387bd5b5c73e64ca82409a7440b4b1199"
                                   :git/url "https://github.com/wilkerlucio/pathom3"}
         org.clojure/clojure      {:mvn/version "1.10.1"}}}
