
{:paths ["source-code/clj"]
 :deps  {bithandshake/cljc-fruits {:git/url "https://github.com/bithandshake/cljc-fruits"
                                   :sha     "5992908f6325f303acf7b91932cefe3bfa7510f3"}
         com.wsscode/pathom3      {:sha     "13e6dec387bd5b5c73e64ca82409a7440b4b1199"
                                   :git/url "https://github.com/wilkerlucio/pathom3"}}}
