
{:paths ["source-code/clj"]
 :deps  {bithandshake/cljc-fruits {:git/url "https://github.com/bithandshake/cljc-fruits"
                                   :sha     "e5523d19625c0e366e716f8af71522ff5eeb116c"}
         com.wsscode/pathom3      {:sha     "13e6dec387bd5b5c73e64ca82409a7440b4b1199"
                                   :git/url "https://github.com/wilkerlucio/pathom3"}
         org.clojure/clojure      {:mvn/version "1.10.1"}}}
